@import url('https://fonts.googleapis.com/css2?family=Crimson+Text&family=Libre+Baskerville&family=Lobster&display=swap');



/* Navbar */

.navbar-1{
    border: 2px solid black;
    width: 100%;
    /* background-color: darkcyan; */
    background: linear-gradient(115deg, #56d8e4 10%, #9f01ea 90%);
    position: fixed;
    top: 0;
    /* background-image: linear-gradient(rgb(2, 61, 20), rgb(95, 78, 0)); */
   
    
}

.img-1{
    width: 14%;
    margin-left: 22px;
    text-shadow: 2px 2px 12px black;
}

.img-link{
    position: absolute;
    text-decoration: none;
    
    

}

.heading-2{
    margin-left: 9%;
    color: rgb(0, 0, 0);
    font-family: 'Architects Daughter', cursive;
    font-size: 55px;
    color: white;
    font-family: 'Crimson Text', serif;
    font-weight: lighter;
}

.nav-1{
    /* border: 2px solid red; */
    width: 100%;
    height: 8pc;
    display: flex;
    align-items: center;
    
}

.nav-1 ul{
    /* border: 2px solid green; */
    display: flex;
    align-items: center;
    margin-left: 30%;
}

.nav-1 ul li{
    /* border: 2px solid rgb(255, 145, 0); */
    list-style: none;
    margin-left: 30px;
    font-size: 22px;
    
}

.nav-1 ul li a{
    text-decoration: none;
    color: white;
}

.nav-1 ul li a:hover{
    font-weight: 540;
    color: rgb(207, 207, 207);
    text-shadow: 4px 3px 6px rgb(8, 8, 8);
}